/* General styles */
.book-search {
  text-align: center;
  padding: 20px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cnt{
  color: #222;
  font-weight: 700;
}
.search-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.load {
  font-size: 1.5rem;
  font-weight: 600;
}

input[type="text"] {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.bookshelf-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.book-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.book-card h3 span {
  font-weight: 500;
}

.book-card h4 {
  margin-bottom: 10px;
}

.book-card h4 span {
  font-weight: 500;
}

.book-card .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-button {
  align-self: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover,
.bookshelf-button:hover {
  background-color: #45a049;
}

.clear-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #FF0000; /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #CC0000; /* Darker red on hover */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-controls {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .input-field {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  input[type="text"] {
    width: 80%;
    margin: 10px 0;
  }

  .bookshelf-button {
    width: 80%;
    margin-top: 10px;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .book-results {
    flex-direction: column;
    gap: 20px;
  }

  .book-card {
    width: 80%;
    max-width: none;
    height: auto;
  }
}

@media (max-width: 480px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-controls {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .input-field {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  input[type="text"] {
    width: 90%;
    margin: 10px 0;
  }

  .bookshelf-button {
    width: 90%;
    margin-top: 10px;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .book-results {
    flex-direction: column;
    gap: 20px;
  }

  .book-card {
    width: 90%;
    max-width: none;
    height: auto;
  }
}
